* {
    box-sizing:border-box;
}

/*HEADER*/

header {
    background-color: #E5E5E5;
}

.icono{
    margin: auto;
    display: block;
    padding: 21px;
}

/*MAIN*/

main{
    padding-left: 225px;
    padding-top: 104px;
    padding-right: 174px;
    padding-bottom: 213px;
}

h2,h1.tita {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    text-transform: uppercase;
    color: #005677;
    background-color:#C4C4C4;
    letter-spacing:0.2em;
    font-weight: bold;
}

h1 {
    font-size: 35px;
    text-align: center;
    padding: 15px;
}

h2 {
    font-size: 20px;
    padding: 7px;
}

.datosp {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}

.años {
    font-weight: bold;
    font-size: 15px;
}


/*FOOTER*/

footer{
    align-items: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    background-color: #005677;
    color:#FFFFFF;
    padding: 10px;
}